* {
    font-family: sans-serif;
}

:root {
    --blue: #5D9DD5;
    --pink: #D883B6;
    --yellow: #FDBC2E;
    --green: #4DA245;
    --red: #F04B23;
    --purple: #A98CC1;
    --dice-size: 5rem;
    --font-size: 5rem;
}

.track {
    margin: 3rem auto;
    max-width: 1200px;
    border: 1px solid black;
    // padding: 3rem;
    // border: 2px solid blue;
    display: grid;

    &--start {
        grid-template-columns: 2fr repeat(10, 1fr);
    }

    &--rtl {
        direction: rtl;
        grid-template-columns: repeat(10, 1fr);
    }

    &--end {
        grid-template-columns: repeat(9, 1fr) 2fr;
    }

    &__space {
        position: relative;
        // flex-grow: 1;
        border: 2px solid black;
        // height: 100px;
        text-align: center;
        font-size: larger;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 75px;
        height: 195.39px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 75px), 75px));

        &--pink {
            background-color: var(--pink);
        }

        &--yellow {
            background-color: var(--yellow);
        }

        &--blue {
            background-color: var(--blue);
        }

        &--green {
            background-color: var(--green);
        }

        &--red {
            background-color: var(--red);
        }
    }

    &__number {
        font-size: 3rem;
        -webkit-text-stroke: 2px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--blue {
            color: var(--blue);
        }

        &--pink {
            color: var(--pink);
        }

        &--green {
            color: var(--green);
        }

        &--yellow {
            color: var(--yellow);
        }

        &--red {
            color: var(--red);
        }
    }
}

.racer {
    // width: 50px;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;

    &--tripped {
        transform: rotate(180deg);
    }

    &--face-left {
        transform: scaleX(-1);
    }
}

.racer.racer--tripped.racer--face-left {
    transform: rotate(180deg) scaleX(-1);
}

.die-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--dice-size);
    height: var(--dice-size);
    transition: all .75s ease-out;
    margin: 25px;

    &:hover {
        cursor: pointer;
    }
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--dice-size);
    height: var(--dice-size);
    background-color: var(--purple);
    border: 2px solid black;
    border-radius: 10px;
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    -webkit-text-stroke: 2px black;
}

/* 3D Object Orientation */

.front {
    transform: rotateY(0deg) translateZ(calc(var(--dice-size)/2));
}

.back {
    transform: rotateY(180deg) translateZ(calc(var(--dice-size)/2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--dice-size)/2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--dice-size)/2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--dice-size)/2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--dice-size)/2));
}

.face-1-low {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.face-1-high {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
}

.face-2-low {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.face-2-high {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(0deg);
}

.face-3-low {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.face-3-high {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(0deg);
}

.face-4-low {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

.face-4-high {
    transform: rotateX(360deg) rotateY(-450deg) rotateZ(0deg);
}

.face-5-low {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.face-5-high {
    transform: rotateX(-450deg) rotateY(360deg) rotateZ(0deg);
}

.face-6-low {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.face-6-high {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(0deg);
}